<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-icon class="title-icon">cloud_upload</mat-icon>
      Sube tu Imagen
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <input #imageUpload hidden type="file" accept="image/*" (change)="onFileSelected($event)"/>
      <button mat-flat-button color="primary" (click)="imageUpload.click()" [disabled]="isPredicting()">
        <mat-icon>add_photo_alternate</mat-icon>
        Seleccionar Imagen
      </button>

      @if (!isPredicting() && file()) {
        <div class="image-container">
          <img [src]="previewUrl()" alt="Vista previa de la imagen" class="preview-image" />
        </div>
      }

      @if (isPredicting()) {
        <mat-spinner diameter="40"/>
      }
      @if (!isPredicting() && file()) {
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="predict.emit()"  [disabled]="isPredicting()">
            <mat-icon>auto_awesome</mat-icon>
            {{ !isPredicting() ? 'Analizar con IA' : 'Analizando...' }}
          </button>
        </mat-card-actions>
      }
  </mat-card-content>
</mat-card>
